.border-animate {
    position: relative;
  }
  
  .border-animate::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #39474f;
    transition: width 0.3s ease, left 0.3s ease;
  }
  
  .border-animate:hover::before {
    left: 40%;
  
    width: 100%;
  }
  
  .border-animate:hover::after {
    right: 40%;
    width: 100%;
  }
  
  .border-animate:not(:hover)::before {
    left: 50%;
    width: 0;
  }
  
  .border-animate::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 0;
    height: 2px;
    background-color: #39474f;
    transition: width 0.3s ease, right 0.3s ease;
  }
  
  /* Css for The Avitur */
  
  /* CSS */
  .avatar-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 16px solid transparent;
    transition: border-color 0.3s ease, width 0.3s ease, height 0.3s ease;
  }
  
  .avatar-container:hover::before {
    width: calc(100% + 5px);
    height: calc(100% + 4px);
    border-color: #39474f;
  }
  